{{#if recipes.length}}
<section class="all-recipes">
  <h1>All Recipes</h1>
  <ol class="all-recipes-list">
    {{#each recipes as |recipe|}}
    <li class="all-recipes-item">
        <div class="title">
            <p><span>Recipe Title:</span> {{recipe.title}}</p>
        </div>
        <div class="description">
            <p><span>Description:</span> {{recipe.description}}</p>
        </div>
        <div class="ingredients">
            <p><span>Ingredients:</span> {{recipe.ingredients}}</p>
        </div>
        <div class="instructions">
            <p><span>Instructions:</span> {{recipe.instructions}}</p>
        </div>
        <div class="time">
            <p><span>Time:</span> {{recipe.time}}</p>
        </div>
        <div>
          <p>Recipe by: {{recipe.username}}</p>
        </div>
      
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}


