<form class="choose_recipe">
        <div class="category">
        <label for="recipe_category">Choose Category:</label>
        <select name="category" id="category">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="appetizer">Appetizer</option>
            <option value="dessert">Dessert</option>
        </select>
    </div>
    <div class="diet">
        <label for="diet_restrict">Select All That Apply:</label><br>
        <input type="checkbox" id="none" name="diet_restrict" value="None" checked>
        <label for="none">None</label><br>
        <input type="checkbox" id="vegetarian" name="diet_restrict" value="Vegetarian">
        <label for="vegetarian">Vegetarian</label><br>
        <input type="checkbox" id="vegan" name="diet_restrict" value="Vegan">
        <label for="none">Vegan</label><br>
        <input type="checkbox" id="peskitarian" name="diet_restrict" value="Peskitarian">
        <label for="vegetarian">Peskitarian</label><br>
        <input type="checkbox" id="glutenfree" name="diet_restrict" value="Gluten Free">
        <label for="glutenfree">Gluten Free</label><br>
        <input type="checkbox" id="dairyfree" name="diet_restrict" value="Dairy Free">
        <label for="dairyfree">Dairy Free</label><br>
        <input type="checkbox" id="shellfishfree" name="diet_restrict" value="Shellfish Free">
        <label for="shellfishfree">Shellfish Free</label><br>
        <input type="checkbox" id="kosher" name="diet_restrict" value="Kosher">
        <label for="kosher">Kosher</label><br>
    </div>
    <div class="addBtn">
        <button type="submit">Find Recipe</button>
    </div>
</form>

<article class="postTitle">
  <div class="title">
    <a>Recipe Name:{{title}}</a>
  </div>  
</article>

<article class="postRecipe">
  <div class="title">
    <a>Recipe Name:{{title}}</a>
  </div> 
  <div class="time">
    <a>Total Time:{{time}}</a>
  </div> 
   <div class="description">
    <a>Description:{{description}}</a>
  </div> 
   <div class="ingredients">
    <a>Ingredients:{{ingredients}}</a>
  </div> 
   <div class="instructions">
    <a>Instructions:{{instructions}}</a>
  </div>  
</article>



