<ul class="user-list">
  {{#each recipes as |recipe|}}
  <li>
    <article class="user-list">
        <div class="username">
            {{user.username}}
        </div>
        <div class="title">
            {{recipe.title}}
        </div>
        <div class="description">
            {{recipe.description}}
        </div>
        <div class="ingredients">
            {{recipe.ingredients}}
        </div>
        <div class="instructions">

            {{post.instructions}}
        </div>
        <div class="time">
            {{post.time}}
        </div>  
    </article>
  </li>
  {{/each}}
</ul>