
<div class="user-page">
  <div class="user-header">
    <h1>Welcome back, {{user}}!</h1>
    <a href="/addrecipe">Add a new recipe</a>
    <p>Here are your recipes:</p>
  </div>
  <div class="container">
    {{#each recipes as |recipe|}}
    <div class="card">
      <div class="card-header">
            <p>{{recipe.title}}</p>
      </div>
      <div class="card-body">
        <div class="card-box">
            <p><span>Description:</span> {{recipe.description}}</p>
        </div>
        <div class="card-box">
            <p><span>Ingredients:</span> {{recipe.ingredients}}</p>
        </div>
        <div class="card-box">
            <p><span>Instructions:</span> {{recipe.instructions}}</p>
        </div>
        <div class="card-box">
            <p><span>Time:</span> {{recipe.time}}</p>
        </div>
      </div>
    </div>
    {{/each}}
    <br> 
  </div>  
</div>
