<ol class="user-list">
  {{#each posts as |post|}}
  <li>
    <article class="user-list">
        <div class="username">
            {{post.username}}
        </div>
        <div class="title">
            {{post.title}}
        </div>
        <div class="description">
            {{post.description}}
        </div>
        <div class="ingredients">
            {{post.ingredients}}
        </div>
        <div class="instructions">
            {{post.instructions}}
        </div>
        <div class="time">
            {{post.time}}
        </div>  
    </article>
  </li>
  {{/each}}
</ol>